body {
    background-color: #353530;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

a:visited {
  text-decoration: none;
  color: #8888AD
}

a:link {
  text-decoration: none;
  color: hsl(199, 100%, 34%)
}

  img {
    border-radius: 8px;
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.button {
    background-color: #5d5d5c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }