@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300&display=swap');

body {
    background-color: #353530;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  a:visited {
    text-decoration: none;
    color: #8888AD
  }
  
  a:link {
    text-decoration: none;
    color: hsl(199, 100%, 34%)
  }

  h1 {
    text-align: center;
  }

  h3 {
    font-family: 'Noto Sans HK', sans-serif;  
    font-size: 18;
  }
  
.button {
    background-color: #5d5d5c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }