body {
    background-color: #353530;
    color: white;
  }


.button {
    background-color: #5d5d5c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }

table {
    border-collapse: collapse;
    color: white;
    
}